    /*
    Flaticon icon font: Flaticon
    Creation date: 17/03/2019 11:18
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-data:before { content: "\f100"; }
.flaticon-computer:before { content: "\f101"; }
.flaticon-admin:before { content: "\f102"; }
.flaticon-coding:before { content: "\f103"; }
.flaticon-search:before { content: "\f104"; }
.flaticon-computer-1:before { content: "\f105"; }
.flaticon-antivirus:before { content: "\f106"; }
    
    $font-Flaticon-data: "\f100";
    $font-Flaticon-computer: "\f101";
    $font-Flaticon-admin: "\f102";
    $font-Flaticon-coding: "\f103";
    $font-Flaticon-search: "\f104";
    $font-Flaticon-computer-1: "\f105";
    $font-Flaticon-antivirus: "\f106";