	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/03/2019 11:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-data:before { content: "\f100"; }
.flaticon-computer:before { content: "\f101"; }
.flaticon-admin:before { content: "\f102"; }
.flaticon-coding:before { content: "\f103"; }
.flaticon-search:before { content: "\f104"; }
.flaticon-computer-1:before { content: "\f105"; }
.flaticon-antivirus:before { content: "\f106"; }