* {
    padding: 0;
    margin: 0;
    outline: hidden;
}

@font-face {
    font-family: "light";
    src: url("fonts/ge_ss_two_light.ttf");
    font-weight: normal;
    font-style: normal;
}

a {
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
    font-family: "light";
    font-weight: normal;
    font-style: normal;
}

#alltemplet {}


.hed {
    background: #2785c7;
    height: 30px;
    border-bottom: 10px solid #8ec641;
}


.footer {
    background: #2785c7;
    height: 30px;
    border-top: 10px solid #8ec641;
}

h3 {
    text-align: center;
    font-family: 'Droid Arabic Kufi', Helvetica, sans-serif;
    font-size: 25px;
    margin: 50px 0;
    color: #2785c7;
    padding: 5px;
    display: block;
}
