body {
    font-family: 'Cairo', sans-serif;

    
}



/**header**/

.header-all {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a86eb+0,113aa6+100 */
    background: #2a86eb;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(-45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(42, 134, 235, 1) ', endColorstr='rgba(17, 58, 166, 1)', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-bottom: 5px solid #dcdcdb;
    width: 100%;
    padding: 10px 0;
}



/**tab**/


.hed-t {}

.hed-t h1 {
    text-align: center;
    font-size: 60px;
    color: rgba(17, 58, 166, 0.94);
    position: relative;
    margin-bottom: 50px;

}


.tab .nav-tabs {
    border: none;
    border-bottom: 2px solid rgba(17, 58, 166, 1);
    margin: 0;
}

.tab .nav-tabs li a {
    padding: 10px 20px;
    margin: 0 10px -1px 0;
    font-size: 17px;
    font-weight: 600;
    color: rgba(17, 58, 166, 1);
    text-transform: uppercase;
    border: 2px solid #e6e5e1;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    background: #fff;
    color: #111;
    border: 2px solid rgba(17, 58, 166, 1);
    border-bottom-color: transparent;
}

.tab .nav-tabs li a:before {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before {
    transform: scaleX(1);
}

.tab .tab-content {
    padding: 7px;
    font-size: 20px;
    color: #111;
    line-height: 30px;
    letter-spacing: 1px;
    position: relative;
    background: rgba(0, 0, 0, 0.03);
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs {
        border: none;
    }

    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .tab .nav-tabs li a {
        margin: 0;
        border-bottom: 2px solid transparent;
    }

    .tab .nav-tabs li a:before {
        content: "";
        width: 100%;
        height: 2px;
        background: #079fc9;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
}

/**form**/


.form-bg {}

.form-horizontal {
    padding: 60px 10px 55px 10px;
    margin: 10px;
    background: #fff;
    border-radius: 2px;
}


.form-horizontal .form-group {
    margin: 0 0 30px 0;
    position: relative;
}

.form-horizontal .form-group:last-child {
    margin: 0;
}

.form-horizontal .form-control {
    height: 50px;
    border: 2px solid rgba(42, 134, 235, 0.26);
    border-radius: 5px;
    box-shadow: none;
    padding: 0 26% 0 20px;
    font-size: 16px;
    font-weight: bold;
    color: #94abb6;
    position: relative;
    transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

.form-horizontal .control-label {
    width: 25%;
    height: 46px;
    line-height: 46px;
    background: #f5ffff;
    padding: 0;
    font-size: 17px;
    color: #111;
    text-align: center;
    border-left: 2px solid rgba(42, 134, 235, 0.26);
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
}

.form-horizontal .btn,
.form-horizontal .btn:focus {
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 0 30px;
    background: rgba(17, 58, 166, 0.94);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    position: relative;
}

.form-horizontal .btn:hover {
    background: #dcdcdb;
    color: #111;
}


@media only screen and (max-width: 990px) {
    .form-horizontal:before {
        top: -50px;
    }
}

@media only screen and (max-width: 480px) {
    .form-horizontal {
        padding: 60px 20px 40px 20px;
    }

    .form-horizontal .control-label {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {

    .form-horizontal .control-label {
        width: 50%;

    }

    .form-horizontal {
        padding: 60px 20px 40px 20px;
    }

    .form-horizontal .control-label {
        font-size: 12px;
    }
}



/**why-chose**/

.why-chose {
    margin: 10px 0;
    padding: 40px 0;
}

#Section2 td,
#Section2 th {
    font-size: 20px;
}

#Section3 li {
    font-size: 30px;
    line-height: 2;
    text-align: center;
}



/**footer**/
.footer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a86eb+0,113aa6+100 */
    background: #2a86eb;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(42, 134, 235, 1) ', endColorstr='rgba(17, 58, 166, 1)', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-top: 5px solid #dcdcdb;
    padding: 20px 0;
    position: relative;

}

.footer .copyright {
    margin-bottom: 20px;
}

.footer .copyright p {
    color: #fff;
    font-size: 25px;
}

.footer .social-media {}

.footer .social-media ul li a {
    display: block;
    border: 1px solid #fff;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    transition: ease-in-out 0.4s;
    -o-transition: ease-in-out 0.4s;
    -webkit-transition: ease-in-out 0.4s;
    width: 50px;
    height: 50px;
}

.footer .social-media ul li a i {
    line-height: 50px;
}

.footer .social-media ul li a:hover {
    background: #ffd10a;
    border: 1px solid #ffd10a;
    color: rgba(17, 58, 166, 0.94);
}

/**footer**/

/*****farmwork*******/


/*****farmwork*******/

/**owl-controls**/
.owl-theme .owl-nav [class*="owl-"] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px;
    background: #668100;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #562908;
}

.owl-controls .owl-nav > div {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -webkit-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    line-height: 20px;
    position: absolute;
    top: 0;
    padding: 2px 5px;
}

.owl-controls .owl-nav > div:hover {
    color: #000;
}

.owl-controls .owl-nav .owl-prev {
    right: -4px;
}

.owl-controls .owl-nav .owl-next {
    right: -4px;
    top: 29px;
}

/**owl-controls**/



/**upscroll**/

.upscroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999999;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    -moz-transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a86eb+0,113aa6+100 */
    background: #2a86eb;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(42, 134, 235, 1) ', endColorstr='rgba(17, 58, 166, 1)', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.upscroll:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a86eb+0,113aa6+100 */
    background: #2a86eb;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(-45deg, rgba(42, 134, 235, 1) 0%, rgba(17, 58, 166, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(42, 134, 235, 1) ', endColorstr='rgba(17, 58, 166, 1)', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #fff;
}


/* responsive */

@media (max-width: 1700px) {}

@media (max-width: 1000px) {}

@media (max-width: 770px) {
    .hed-t h1 {
        text-align: center;
        font-size: 40px;
        color: rgba(17, 58, 166, 0.94);
        position: relative;
        margin-bottom: 50px;
    }

    .form-horizontal .form-control {
        padding: 0px 41% 0 4px;
    }

    .form-horizontal .control-label {
        width: 40%;
    }

    #Section3 li {
        font-size: 15px;
        line-height: 2;
        text-align: center;
    }
}

@media (max-width: 670px) {}


/*********************************************************/
