    /*
    Flaticon icon font: Flaticon
    Creation date: 28/01/2019 12:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-journal:before { content: "\f100"; }
.flaticon-file:before { content: "\f101"; }
.flaticon-file-1:before { content: "\f102"; }
.flaticon-file-2:before { content: "\f103"; }
.flaticon-video-player:before { content: "\f104"; }
.flaticon-browser:before { content: "\f105"; }
.flaticon-browser-1:before { content: "\f106"; }
.flaticon-radio:before { content: "\f107"; }
.flaticon-email:before { content: "\f108"; }
    
    $font-Flaticon-journal: "\f100";
    $font-Flaticon-file: "\f101";
    $font-Flaticon-file-1: "\f102";
    $font-Flaticon-file-2: "\f103";
    $font-Flaticon-video-player: "\f104";
    $font-Flaticon-browser: "\f105";
    $font-Flaticon-browser-1: "\f106";
    $font-Flaticon-radio: "\f107";
    $font-Flaticon-email: "\f108";