	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/01/2019 12:14
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-journal:before { content: "\f100"; }
.flaticon-file:before { content: "\f101"; }
.flaticon-file-1:before { content: "\f102"; }
.flaticon-file-2:before { content: "\f103"; }
.flaticon-video-player:before { content: "\f104"; }
.flaticon-browser:before { content: "\f105"; }
.flaticon-browser-1:before { content: "\f106"; }
.flaticon-radio:before { content: "\f107"; }
.flaticon-email:before { content: "\f108"; }