@font-face {
    font-family: "JF Flat Regular";
    src: url('../fonts/JF-Flat-regular.eot');
    src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url('../fonts/JF-Flat-regular.woff') format('woff'), url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "JF Flat Regular";
    background: #efefef;
}

.scrollgress {
    z-index: 999999;
}

.all-container {
    position: relative;
}

/*<!-- ====header===== -->*/
.navbar-brand {
    float: left;
    height: 0;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
}

nav.navbar .navbar-brand img.logo {
    width: 73px;
    margin: 3px 0 0 0;
}

/*<!-- ====header===== -->*/


.background-block {
    background: url(../img/shutterstock-1064509529.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tab-block {
    width: 100%;
    background: rgba(0, 0, 0, 0.33);
    padding: 30px 15px;
}

.background-block .tab {
    padding: 70px 25px;
    margin: 50px 0 40px 0;
    background: rgba(46, 49, 55, 0.68);
    position: relative;
}

.background-block .tab:before {
    content: url(../img/iconlogo.png);
    width: 110px;
    height: 110px;
    /*border-radius: 50%;*/
    padding: 15px;
    border: 2px solid #2785c7;
    background: #fff;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}

.background-block .tab .nav-tabs {
    padding: 0 20px 15px;
    position: relative;
}

.background-block .tab .nav-tabs li a {
    padding: 0 20px 0;
    margin: 0;
    background: none;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    opacity: 0.5;
    position: relative;
    transition: all 0.5s ease 0s;
}

.background-block .tab .nav-tabs li a:hover {
    border: none;
}

.background-block .tab .nav-tabs li a:before {
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -16px;
    left: 0;
}

.background-block .tab .nav-tabs li.active a,
.background-block .tab .nav-tabs li.active a:focus,
.background-block .tab .nav-tabs li.active a:hover {
    border: none;
    background: none;
    opacity: 1;
    color: #fff;
}

.background-block .tab .nav-tabs li.active a:before,
.background-block .tab .nav-tabs li.active a:hover:before {
    width: 100%;
}

.background-block .tab .tab-content {
    padding: 20px 0 0 0;
    margin-top: 15px;
    background: none;
    position: relative;
}


@media only screen and (max-width: 479px) {
    .background-block .tab {
        padding: 70px 20px 20px;
    }
}

@media only screen and (max-width: 360px) {
    .background-block .tab .nav-tabs li a {
        padding: 0 15px;
    }
}

/*<!-- ====block-container===== -->*/
.block-container {
    background: #fff;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #E7E7E7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.block-container .header {
    padding: 10px 0;
    margin: 0 0 20px 0;
    font-size: 20px;
    color: #2785c7;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.block-container .media {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin: 0 0 20px 0;
}

.block-container ul li {
    border-bottom: 1px solid rgba(204, 204, 204, 0.46);
    padding-bottom: 10px;
    margin: 0 0 10px 0;
}


.block-container .thumbnail .caption h3 {
    margin: 0 0 10px 0;
}

.block-container .email-signature {
    background: #fff;
    text-align: center;
    padding: 15px 10px 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.block-container .email-signature:before {
    content: "";
    background: #8ec641;
    width: 100%;
    height: 46%;
    box-shadow: 0 10px 0 #2785c7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.block-container .email-signature .icon {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}

.block-container .email-signature .icon li {
    display: inline-block;
    margin: 0 8px;
}

.block-container .email-signature .icon li a {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    transition: all 0.3s;
}

.block-container .email-signature .icon li a:hover {
    background-color: #fff;
    color: #2785c7;
    text-decoration: none;
}

.block-container .email-signature .signature-icon {
    color: #0D132B;
    background: #fff;
    font-size: 70px;
    line-height: 120px;
    width: 125px;
    height: 125px;
    margin: 0 auto 20px;
    border-radius: 50%;
    position: relative;
}

.block-container .email-signature .signature-icon:after {
    content: '';
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-right-color: transparent;
    border-top-color: transparent;
    transform: rotate(-45deg);
    position: absolute;
    left: -10px;
    top: -10px;
    bottom: -10px;
    right: -10px;
}

.block-container .email-signature .title a {
    color: #2785c7;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 5px;
}

.block-container .email-signature .title a:hover {
    color: #8ec641;
    font-size: 24px;
    text-decoration: none;
}

.block-container .email-signature .post a {
    color: #8ec641;
    font-size: 14px;
}

.block-container .email-signature .post a:hover {
    color: #2785c7;
    font-size: 14px;
    text-decoration: none;
}

@media screen and (max-width:359px) {
    .block-container .email-signature .icon li {
        margin: 0 5px;
    }
}



/*<!-- ====block===== -->*/
.block {
    position: relative;
}

.block .icons {
    margin-top: 20px;
}

.block .icons img {
    width: 50%;
}

.block h2 {
    margin: 20px 0 0 0;
    padding: 0;
    color: #fff;
}

/*<!-- ====form-horizontal===== -->*/
.from-container {
    background: rgb(39, 133, 199);
    background: linear-gradient(180deg, rgba(39, 133, 199, 1) 0%, rgba(142, 198, 65, 1) 100%);
    position: relative;
    overflow: hidden;
    margin: 50px 0;
    border: 1px solid #E7E7E7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.form-horizontal {
    background: #fff;
    padding: 0;
}

.form-horizontal .header {
    padding: 20px;
    font-size: 20px;
    color: #2785c7;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.form-horizontal .form-content {
    padding: 25px;
}

.form-horizontal .form-control {
    height: 50px;
    font-size: 15px;
    color: #000;
    border: 1px solid #acacac;
    margin-bottom: 15px;
}

.form-horizontal .form-control:hover {
    border-color: #8ec641;
}

.form-horizontal .form-control:focus {
    border-color: #8ec641;
    box-shadow: none;
}

.form-horizontal .control-label {
    width: 42px;
    height: 40px;
    font-size: 17px;
    color: #acacac;
    border-right: 1px solid #acacac;
    position: absolute;
    top: 5px;
    left: 20px;
    text-align: center;
}

.form-horizontal .captcha {
    padding-right: 0;
}

.form-horizontal .captcha label {
    background: #e0e0e0;
    display: block;
    height: 50px;
    font-size: 17px;
    color: #acacac;
    line-height: 45px;
    text-align: center;
    border-radius: 0;
}

.form-horizontal .form-control {
    color: #acacac;

}

.form-horizontal .captcha-text {
    padding-left: 0;
}

.form-horizontal .captcha-text input {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.form-horizontal .btn {
    background: #8ec641;
    font-size: 18px;
    color: #fff;
    margin: auto 0;
    text-align: center;
    clear: both;
    padding: 8px 20px;
    transition: all 0.5s ease 0s;
    margin: 10px 0;
    border-radius: 0;
    border: 0;
}

.form-horizontal .btn:hover {
    background: #2785c7;
}

@media only screen and (max-width:767px) {
    .form-horizontal .control-label i {
        line-height: 40px;
    }

    .form-horizontal .captcha label {
        font-size: 13px;
    }
}

.btn-default {
    background: #8ec641;
    font-size: 18px;
    color: #fff;
    margin: auto 0;
    text-align: center;
    clear: both;
    padding: 8px 20px;
    transition: all 0.5s ease 0s;
    margin: 10px 0;
    border-radius: 0;
    border: 0;
}

.btn-default:hover {
    background: #2785c7;
    color: #fff;
}


.border-a label {
    color: #acacac;
    font-weight: normal;
    font-size: 15px;
}

.border-a {
    border: 1px solid #acacac;
    padding: 5px;
}

.border-a:hover {
    border-color: #8ec641;
}

.border-a:focus {
    border-color: #8ec641;
    box-shadow: none;
}

/*<!-- ====form-horizontal===== -->*/


/*<!-- ====padding===== -->*/
.no-padding {
    padding-right: 0;
    padding-left: 0;
}

.no-margin {
    margin-right: 0;
    margin-left: 0;
}

/*<!-- ====padding===== -->*/



/*<!-- ====footer===== -->*/
.footer {
    background: #323232;
    padding: 10px;
}

.footer .blockfooter h2 {
    margin: 10px 0 40px 0;
    font-size: 17px;
    color: #8ec641;
    position: relative;
}

.footer .blockfooter h2::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 0;
    width: 50px;
    height: 2px;
    background: #2785c7;
}

.footer .blockfooter ul.munfoot {
    margin: 0;
    padding: 0;
}

.footer .blockfooter ul.munfoot li {
    border-bottom: 1px solid rgba(88, 88, 88, 0.44);
    padding: 5px 0;
}

.footer .blockfooter ul.munfoot li a {
    line-height: 2;
    color: #fff;
}

.footer .blockfooter ul.munfoot li a:hover {
    text-decoration: none;
    color: #2785c7;
}

.footer .media {
    border-bottom: 1px solid rgba(88, 88, 88, 0.44);
    padding-bottom: 5px;
}

.footer .media .media-heading a {
    color: #fff;
    font-size: 15px;
    margin: 0;
}

.footer .media .media-heading a:hover {
    color: #8ec641;
    font-size: 15px;
    margin: 0;
    text-decoration: none;
}

.footer .media .data {
    color: #ccc;
    font-size: 10px;
}


/*<!-- ====footer===== -->*/

/*<!-- ====copyright===== -->*/
.copyright {
    background: #1f1f1f;
    color: #7d7d7d;
    padding: 10px 0 5px 0;
}

.copyright p {
    font-size: 14px;
    color: #7d7d7d;
}

/*<!-- ====copyright===== -->*/




/**owl-controls**/

.owl-theme .owl-dots .owl-dot {
    border-radius: 50%;
    padding: 2px 0px;
    margin: 0px 5px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #353535;
    width: 12px;
    height: 12px;
}

.owl-theme .owl-dots .owl-dot.active {
    /*border: 1px solid #d43e70;*/
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2785c7;
}

/**owl-controls**/


/* responsive */

@media (max-width: 1700px) {}

@media (max-width: 1000px) {
    .navbar {
        min-height: 90px;
    }
}

@media (max-width: 770px) {
    .navbar {
        min-height: 90px;
    }
}

@media (max-width: 670px) {}
